app:
  reservation:
    ttl-minutes: 15

spring:
  application:
    name: marketplace

  datasource:
    url: jdbc:postgresql://localhost:5432/marketplace_db?options=-c%20timezone=UTC
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true
    out-of-order: true
    validate-on-migrate: false

  data:
    redis:
      host: localhost
      port: 6379
      repositories:
        enabled: false

    mongodb:
      uri: mongodb://localhost:27017/marketplace_db

  cache:
    redis:
      time-to-live: 600000

server:
  port: 8080

jwt:
  secret: yO1Zm6nvzSnt2E2j9Y4WxRYb1d8Xq3tPL5jJwDlQ/3Y=
  access-token-expiration-ms: 900000
  refresh-token-expiration-ms: 604800000

stripe:
  api:
    key: ${STRIPE_API_KEY}

minio:
  url: http://127.0.0.1:9000
  access-key: admin
  secret-key: password123
  bucket-name: marketplace-images